.patient-header-properties {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pateint-header-counter {
    font-size: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    h3 {
      border-radius: 5px;
      padding: 5px 10px;
      background-color: $black-color;
      color: white;
    }
  }
}

.gender-inputss {
  display: flex;
  width: 680px;
  background-color: #eff1f7;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  justify-content: space-between;

  .input-genders-padding {
    display: flex;
    gap: 10px;
  }

  input {
    width: 15px !important;
  }
}
