.staff-bar-select {
  select {
    padding: 10px;
    border-right: 10px solid $green-color;
  }
}

.seach-bar-select-menu {
  select {
    padding: 10px;
    border-right: 10px solid $green-color;
  }

  option {
    padding: 10px 0;
  }
}
