.appointments-list {
  cursor: pointer;
  li {
    color: #7b92c6;
    cursor: pointer;
    list-style: none;
    text-decoration: underline;
  }

  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 30px;
  .profile-info {
    display: flex;
    align-items: center;

    .name-designation {
      display: flex;
      flex-direction: column;
      .h3 {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        font-size: 14px;
      }
    }

    img {
      width: 70px;
    }
  }
  .appointment-name-designation {
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}
