.form-sub-settings-image {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: inline-block;
    position: relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
  }

  i {
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    padding: 3px;
    background-color: white;
    display: block;
    font-size: 22px;
    position: relative;
    top: 65px;
    left: -53px;
  }
}
