.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .pagination a {
    border: 1px solid $white-color-4;
    color: black;
    font-size: 19px;
    padding: 3px 12px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: $green-color;
    color: white;
    border-radius: 5px;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
}
.pagination-flex-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

// select-dropdown
//

// .dropbtn {
//   background-color: transparent;
//   color: black;
//   padding: 0;
//   font-size: 32px;
//   font-weight: bolder;
//   border: none;
//   cursor: pointer;
// }

// .dropbtn:hover,
// .dropbtn:focus {
//   color: $green-color;
// }

// .dropdown-content {
//   display: none;
//   border-radius: 10px;
//   position: absolute;
//   background-color: white;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
// }

// .dropdown-content a {
//   color: black;
//   padding: 8px 14px;
//   text-decoration: none;
//   display: block;
//   border-bottom: 1px solid $grey-color;
// }

// .dropdown-content a:hover {
//   border-radius: 10px;
//   background-color: $green-color;
// }

// .show {
//   display: block;
// }

//
/* Dropdown button on hover & focus */

.searchbaar-button {
  font-size: 20px;
  background-color: $green-color;
  padding: 5px 20px;
  color: white;
  border: none;
  outline: none;
  &:hover {
    background-color: $dark-green-color;
  }
  &:focus {
    outline: none;
    color: $green-color;
    background-color: $green-color;
    border: none;
    color: white;
  }
}

.Searchbaar-input {
  outline: none;
  border: 1px solid $grey-color;
  &:focus {
    border: 1px solid $green-color;
    outline: none;
  }
}

//Modals :

// fix already styled:
.modal-content {
  width: auto;
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
  position: none;
}

//
.modal-main-container {
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;

  .modals-container {
    border-radius: 10px !important;
    width: 500px;
    height: 750px;

    .modals-inner {
      h3 {
        padding: 25px;
      }
    }

    .modals-inputs {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 500px;
      gap: 20px;

      .inputs {
        margin: auto;
        width: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        input {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid $grey-color;

          &:focus {
            outline: none;
            border: 1px solid $green-color;
          }
        }
      }
    }
  }
}

header-dropdown-style {
  background-color: transparent;
}
