.chats-main-container {
  img {
    cursor: pointer;
  }
  width: 100%;
  min-height: calc(100vh - 72.5px);
  padding: 30px;

  .chats-container {
    h2 {
      font-size: 25px;
      font-weight: bolder;
    }
  }

  .white-board-devision {
    display: flex;
    gap: 30px;

    .chats-white-board-1 {
      width: 25%;
      .conversation-searchbar {
        padding: 20px;
      }

      background-color: white;
      min-height: 100%;
      border-radius: 20px;
      box-shadow: $shadows;

      .conversation-section {
        .group-sections {
          margin: 10px 0;
        }

        width: 100%;

        .conversation-groups-plus {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding: 0px 20px;

          i {
            font-size: 20px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .chats-white-board-2 {
      background-color: white;
      width: 77%;
      height: calc(100vh - 188px);
      border-radius: 20px;
      box-shadow: $shadows;
    }

    .messages-section {
      display: flex;
    }
  }

  .chatting-container {
    padding: 5px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .profile-data {
      padding: 5px 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $white-color-4;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.056);

      .img-name-type {
        display: flex;
        gap: 10px;
        align-items: center;

        .name-typing-flex {
          align-items: center;

          h4 {
            font-size: 21px;
          }
        }

        img {
          display: inline-block;
          position: relative;
          width: 70px;
          height: 70px;
          overflow: hidden;
          border-radius: 50%;
        }
      }
      .properties {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }

    .input-data {
      margin-bottom: 10px;
      .input-fields-with-logo {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .border-left {
        padding: 20px;
        border-right: 1px solid $white-color-4;
      }

      .input-button-style {
        background-color: $green-color;
        border: none;
        outline: none;
        margin: 10px 20px;
        padding: 0px 25px;
        border-radius: 5px;
        img {
          width: 20px;
        }
      }

      width: 95%;
      padding: 0;
      border: 1px solid $grey-color;
      border-radius: 10px;
      &:focus {
        border: 1px solid $green-color;
        outline: none;
      }

      input {
        width: auto;
        outline: none;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 18px;
      }
    }
  }
}

// conversation - component

.conversation-profile-container {
  .profile-container {
    border-bottom: 1px solid $white-color-4;
    padding: 10px 15px;

    p {
      font-size: 14px;
      color: grey;
    }

    &:hover {
      background-color: $light-green-color;
      cursor: pointer;
      color: $dark-green-color;
    }

    .img-name-flex {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .conversation-round-images {
      img {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
      }
    }

    .name-para {
      display: flex;
      flex-direction: column;
      gap: 2px;

      h4 {
        font-size: 20px;
      }
    }

    .date-msg-flex {
      .date-new-msg {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        p {
        }

        .new-msgs {
          background-color: $light-green-color;
          color: $dark-green-color;
          display: inline-block;
          position: relative;
          height: 25px;
          border: none;
          outline: none;
          width: 25px;
          border-radius: 50px;
          overflow: hidden;
          font-size: 12px;
        }
      }
    }
  }
}

.scrollbar {
  height: calc(100vh - 290px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 12px;
    background-color: $white-color-2;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $white-color-4;
    border-radius: 20px;
  }
}

// chat message container component <MessageSection /> :

.left-messages-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  .message-container {
    display: flex;
    width: 80%;

    .message-flex {
      display: flex;
      width: auto;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      border-radius: 0px 10px 10px 10px;
      border: 0.5px solid $green-color;
    }

    img {
      display: inline-block;
      position: relative;
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      margin: 5px;
    }
  }

  h4 {
    color: $dark-green-color;
    font-size: 18px;
  }
  p {
    color: $black-color;
  }
  .time {
    display: block;
    color: $grey-color;
    display: flex;
    justify-content: flex-end;
  }
}

.right-messages-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .message-container {
    display: flex;
    width: 80%;
    justify-content: flex-end;

    .message-flex {
      display: flex;
      width: auto;
      background-color: $light-green-color;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      border-radius: 10px 0px 10px 10px;
    }

    img {
      display: inline-block;
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 5px;
    }
  }

  // h4 {
  //   display: flex;
  //   justify-content: flex-end;
  //   color: $dark-green-color;
  //   font-size: 18px;
  // }
  p {
    color: $black-color;
  }
  .time {
    display: block;
    color: $grey-color;
    display: flex;
    justify-content: flex-end;
  }
}

.dropdown-content {
  top: 50px;
  left: -140px;
  overflow: hidden;
  border-radius: 5px;
}

// .online-dot {
//   border-radius: 50%;
//   border: 1px solid white;
//   background: $green-color;
//   width: 12px;
//   height: 12px;
//   display: inline-block;
//   position: absolute;
//   left: 368px;
//   margin-top: 37px;
// }
// .online-dots {
//   border-radius: 50%;
//   border: 1px solid white;
//   background: $green-color;
//   width: 12px;
//   height: 12px;
//   display: inline-block;
//   position: absolute;
//   left: 655px;
//   margin-top: 37px;
// }
.chats-white-board-2 {
  .chats-empty-page-layout {
    padding: 40px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

//Modals add group member :

.add-gruop-member-main-container {
  margin: auto;
  width: 400px;
  height: auto;
  border: 1px solid $grey-color;
  border-radius: 5px;

  &:focus {
    border: 1px solid $green-color;
    outline: none;
  }

  .modal-scrollbar {
    height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 9px;
      background-color: $white-color-2;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $white-color-4;
      border-radius: 20px;
    }
  }
  .modal-groups-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;

    .modal-profile-container {
      display: flex;
      align-items: center;
      overflow: hidden;

      .img-name-flex {
        display: flex;
      }

      img {
        width: 70px;
      }
    }
    .name-para {
      h4 {
        font-size: 20px;
        color: $green-color;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

//   VideoCalling

.video-callig-input-fields-with-logo {
  .flex {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 22px;
      color: black;
    }

    button {
      border: none;
      border-radius: 5px;
      color: white;
      background-color: #d82c2c;
      padding: 5px 30px;
      transition: all 0.1s ease-in-out;
      font-size: 20px;
      &:hover {
        background-color: #a81616;
      }
    }
  }
  .icons {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 22px;
    }

    .icons-border {
      border: 1px solid $black-color;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: $white-color-4;
      }
    }
  }
}

.video-calling-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 22px;
    color: black;
  }
}

/////
///
//

// profile details conversations

.chat-pofile-details-container {
  background-color: transparent !important;
}
