.clinic-table {
  table {
    width: 100%;

    tr {
      th {
        padding: 10px 0 !important;

        color: rgba(2, 16, 15, 1);
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid rgba(136, 152, 167, 0.5);
      }
    }

    tr {
      td {
        color: $grey-color;
        font-size: 17px;
        font-weight: 500;
        padding-top: 10px;
      }
    }
  }

  // Modal Component

  // deletemodal
}

.delete-button-modal-main-container {
  display: flex;
  border-radius: 10px;
  width: 430px;

  .properties {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    p {
      font-size: 22px;
      color: black;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      padding: 0px 20px;
    }
  }
}
