.dashboard-main-container {
  width: 100%;
  height: 100%;
  padding: 40px;

  .dashboard-container {
    .top-three-cards {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;

      .card1 {
        box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.056);
        border-radius: 10px;
        background-color: white;
        gap: 50px;
        width: 490px;
        height: 200px;
        align-items: center;
        padding: 10px;
        display: flex;
        justify-content: space-around;

        .img {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #e9fbf3;
          width: 120px;
          height: 120px;
          border-radius: 7px;
          img {
            width: 70px;
          }
        }

        .cards-data {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          P {
            font-size: 22px;
            color: $grey-color;
          }
          .cards-h1 {
            font-size: 70px;
            font-weight: bolder;
          }
        }
      }
    }

    .blocks-subscription-section {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .dashboard-empty-blocks {
        width: 65%;
        gap: 30px;
        display: flex;
        margin-top: 30px;

        .block-1 {
          box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.056);
          border-radius: 10px;
          background-color: white;
          width: 490px;
          height: 350px;
        }
      }
      .subscription-fee-section {
        li {
          list-style: none;
          cursor: pointer;
        }
        box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.056);
        border-radius: 10px;
        background-color: white;
        width: 490px;
        padding: 15px;
        height: 100%;
        margin-top: 30px;

        .request-button {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .request-button {
        li {
          cursor: pointer;
          list-style: none;
          text-decoration: underline;
        }
      }
    }
  }
}

.subscription-fee-list {
  cursor: pointer;
  li {
    color: #7b92c6;
    cursor: pointer;
    list-style: none;
    text-decoration: underline;
  }

  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 30px;
  .profile-info {
    display: flex;
    align-items: center;

    .name-designation {
      display: flex;
      flex-direction: column;
      .h3 {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        font-size: 14px;
      }
    }

    img {
      width: 70px;
    }
  }
}
