.header-dropdown {
  border: none;
  font-size: 18px;
  padding: 0;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-active-bg: none;
  content: none;

  img {
    width: 12px;
  }

  .header-dropdown-item {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid grey;
  }
}
.main-header {
  z-index: 1;
  height: 60px;
  color: white;
  background-color: $green-color;
  float: right;

  .main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-elements {
      padding: 5px;
      padding-right: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .header-profile {
        img {
          width: 50px;
        }

        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      .header-notification {
        i {
          font-size: 28px;
          cursor: pointer;

          span {
            i {
              background-color: $green-color;
              border-radius: 50%;
              border: 2px solid $green-color;
              cursor: pointer;
              color: red;
              font-size: 5px;
              position: relative;
              top: -16px;
              left: -8px;
            }
          }
        }
      }
    }
  }
}

.transparents12 {
  width: 25px !important;
}
