.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;

  .white-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-img {
      img {
        width: 700px;
      }
    }
  }

  .green-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green-color;
    width: 50%;

    .login-form-div {
      border-radius: 10px;
      background-color: white;
      width: 700px;
      height: 600px;
      display: flex;
      justify-content: center;

      .login-form-container {
        height: 90%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .logo {
          img {
            width: 160px;
          }
        }
      }

      .login-form {
        width: 90%;
        form {
          .input-div {
            display: flex;
            gap: 5px;
          }

          label {
            font-size: 20px;
          }
          .inputemail {
            border: 2px solid $grey-color;
            border-radius: 5px;
            font-size: 16px;
            padding: 13px;
            &:focus {
              border: 2px solid $green-color;
              outline: none;
            }
          }

          div {
            display: flex;
            flex-direction: column;
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 15px;
        }
        .login-remember-forgot {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .login-button {
        button {
          color: white;
          font-size: 22px;
          padding: 12px;
          border-radius: 5px;
          background-color: $green-color;
          border: none;
          outline: none;
        }
      }

      p {
        margin-bottom: 40px;
        color: #a6b1c2;
        font-size: $menu;
      }
    }
  }
}

//
//

.forget-password-background-container {
  width: 100%;
  min-height: 100vh;
  background-color: #eff1f7;
  display: flex;
  align-items: center;
  justify-content: center;

  .forget-password-container {
    padding: 50px 30px;
    background-color: white;
    width: 450px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .lock-img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 20px;

      p {
        font-size: 14px;
      }

      h4 {
        font-weight: bolder;
      }

      .round-img {
        width: 60px;
        height: 60px;
        display: block;
        background-color: #bde9ea;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .inputs {
      display: flex;
      gap: 30px;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 350px;

        input {
          padding: 10px;
          width: 100%;
          border: 1px solid $white-color-4;
          border-radius: 5px;
          &:focus {
            outline: none;
            border: 1px solid #43a5a7;
          }
        }
      }

      .reset-password-btn {
        border: none;

        border-radius: 5px;
        padding: 10px 30px;
        background-color: #43a5a7;
        color: white;
      }
    }
  }
}
