@import "variables";

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

// Formik Error:

.error {
  color: red;
}

// BOOTSTRAP EXTRA MARGIN
p {
  margin-bottom: 0;
  color: $grey-color;
}

// ANCHOR STYLE

a {
  text-decoration: none;
}

// LAYOUT
.layout-background-color {
  background-color: $white-color-2;
  height: 100%;
}

// border bottom

.class-border-bottom {
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  .border {
    width: 95%;
    text-align: center;
    border: 1px solid $white-color-2 !important;
  }
}

.solid-button {
  color: white;
  font-size: 22px;
  padding: 12px;
  border-radius: 5px;
  background-color: $green-color;
  border: none;
  outline: none;
}

.light-button {
  color: $green-color;
  font-size: 22px;
  padding: 12px;
  border-radius: 5px;
  background-color: $light-green-color;
  border: none;
  outline: none;
}

//empty light button

.empty-light-button {
  color: $black-color;
  font-size: 22px;
  padding: 12px;
  border-radius: 5px;
  background-color: $white-color-1;
  border: 1px solid $black-color;
  outline: none;
  &:hover {
    background-color: $green-color;
    color: $white-color-1;
    transition: all 0.2s ease-in-out;
    border: 1px solid $green-color;
  }
}

.pending-button {
  color: $white-color-1;
  font-size: 17px;
  padding: 3px 20px;
  border-radius: 30px;
  background-color: $black-color;
  border: none;
  outline: none;
}

.recieved-button {
  color: $dark-green-color;
  font-size: 18px;
  padding: 3px 20px;
  border-radius: 30px;
  background-color: $light-green-color;
  border: none;
  outline: none;
}

.seach-bar-select-menu {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --bs-btn-focus-shadow-rgb: 0;

  .search-bars {
    margin-left: 20px;
    border: 1px solid $green-color;
    display: flex;
    width: 270px;
    border-radius: 10px;

    &:focus {
      border: 1px solid $green-color;
      outline: none;
    }

    button {
      display: flex;
      justify-content: right;
    }
    input {
      outline: none;
      border: none;
      padding: 10px;
      font-size: 18px;
    }
  }
  select {
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: $green-color;
    padding: 10px 20px;

    option {
      color: black;
      background-color: white;
    }
  }
}

h1 {
  margin-bottom: 0;
}
h2 {
  margin-bottom: 0;
}
h3 {
  margin-bottom: 0;
}
h4 {
  margin-bottom: 0;
}
h5 {
  margin-bottom: 0;
}

// .active {
//   color: red;
//   background-color: $green-color;
//   color: $dark-green-color;
// }

//Round image prop
.round-images {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

// scroll - bar

.searchbaar-button {
  --bs-btn-focus-shadow-rgb: 0;
}

.searchbaar-input {
  --bs-btn-focus-shadow-rgb: 0;
}

// NavLinks:

a {
  color: $black-color;
}

//CheckBox :
