.navbar-root-container {
  z-index: 1;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.169);
  min-height: 100vh;
  width: 15%;

  .main-navbar-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    // padding: 30px;
    flex-direction: column;
    p {
      font-size: 20px;
    }

    .navbar-logo {
      text-align: center;
      img {
        margin-top: 20px;
        width: 70%;
      }
    }

    .add-clinc {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      font-size: 18px;

      .add-new-clinic {
        padding: 8px 20px;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 5px;
        gap: 15px;
        margin-bottom: 20px;
        background-color: $black-color;
        color: white;
        i {
          font-size: 20px;
        }
      }
      .add-new-staff {
        padding: 8px 30px;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 5px;
        gap: 15px;
        margin-bottom: 20px;
        background-color: $green-color;
        color: white;
        i {
          font-size: 20px;
        }
      }
      .add-new-Patient {
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 5px;
        gap: 15px;
        margin-bottom: 20px;
        background-color: $green-color;
        color: white;
        i {
          font-size: 20px;
        }
      }
    }

    .navbar-menu-options {
      width: 100%;

      .padding {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        width: 100%;

        .navbar-menus {
          padding: 15px 20px 15px 20px;
          cursor: pointer;
          color: $grey-color;
          font-weight: 600;
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 18px;
          &:hover {
            background-color: #e7fbf2;
            color: #29d487;
          }
          &:focus {
            background-color: #e9fbf3;
          }

          img {
            height: 22px;
            width: 22px;
            // &:hover {
            //   color: #29d487;
            // }
          }
        }
      }
      .active {
        background-color: $light-green-color;
        color: #29d487;
        border-left: 4px solid $green-color;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }
}

// .active {
//   background-color: $light-green-color;
//   color: $dark-green-color;
// }

// &::before {
//   content: "";
//   background-color: #29d487;
//   width: 600px;
//   height: 500px;
//   border: 2px solid $green-color;
//   border-radius: 0 10px 10px 0;
// }

.navbar-menus {
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  // color: $grey-color;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}
