.clinic-main-container {
  width: 100%;
  min-height: calc(100vh - 72.5px);
  padding: 30px;
}

.clinic-container {
  h2 {
    font-size: 25px;
    font-weight: bolder;
  }
}

.clinic-white-board {
  background-color: white;
  height: 93%;
  border-radius: 20px;
  box-shadow: $shadows;
  padding: 30px;

  h1 {
    font-size: 27px;
    margin: 10px 30px;
  }

  .orgnization-add-save-changes-button {
    display: flex;
    align-items: center;

    button {
      padding: 7px 30px;
    }
  }
}

.clinic-form-section {
  form {
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

    .label-input {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        margin-top: 15px;
        font-weight: 500;
      }

      input {
        padding: 10px;
        width: 680px;
        border-radius: 5px;
        border: 1px solid $grey-color;
        &:focus {
          border: 1px solid $green-color;
          outline: none;
        }
      }
    }
    .choose-plan-input-div {
      width: 680px;

      .choose-plan-input {
        border: 1px solid $grey-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          border: none;
          width: auto;
        }

        button {
          color: $green-color;
          font-size: 20px;
          padding: 2px 25px;
          border-radius: 5px;
          background-color: $light-green-color;
          border: none;
          outline: none;
        }
      }
    }
  }
  .clinic-form-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    button {
      margin: 16px;
      padding: 8px 50px;
    }
  }
}
