.create-bar-organization {
  button {
    padding: 4px 20px;
  }
}

.organization-main-container {
  height: 100%;
  border-radius: 20px;
  padding: 30px;
}

.new-organzation-container {
  display: flex;
  width: 100%;
}

//

.organization-main-container {
  min-height: calc(100vh - 72.5px);
  padding: 30px;

  .see-all {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    padding: 0 20px;
  }
}

.organization-container {
  h2 {
    font-size: 25px;
    font-weight: bolder;
  }
}

.organization-white-board {
  background-color: white;
  height: 93%;
  border-radius: 20px;
  box-shadow: $shadows;
  padding: 30px;

  h1 {
    font-size: 27px;
    font-weight: bold;
  }
}

.organization-form-section {
  margin: 20px 0;
  width: 50%;
  form {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

    .label-input {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-weight: bold;
        margin-top: 30px;
      }

      input {
        padding: 10px;
        width: 400px;
        border-radius: 5px;
        border: 1px solid $grey-color;
        &:focus {
          border: 1px solid $green-color;
          outline: none;
        }
      }
    }
  }
  .select-input {
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid $grey-color;
    &:focus {
      border: 1px solid $green-color;
      outline: none;
    }
  }
  .organization-form-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    button {
      margin: 16px;
      padding: 0px 40px;
    }
    .solid-button {
      padding: 4px 15px;
    }
  }

  .form-organization-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: inline-block;
      position: relative;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
}

//

.tabs-group-main-container {
  height: 100%;
  padding: 30px;

  .tabs-group-sub-container {
    .tabs-inner {
      border: 1px solid $white-color-3;
      border-radius: 15px;
      height: 100%;
      background-color: white;
      outline: none;
    }
  }
}

.tab-list-section {
  .tab-list {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;

    .tabSections {
      background-color: #f8f8f8;
      cursor: pointer;
      border: 1px solid $white-color-4;
      border-radius: 5px 5px 0 0;
      padding: 10px 20px;
      margin-bottom: -10px;
      &:active {
        background-color: $green-color;
      }

      h4 {
        font-size: 20px;
      }
    }
  }
}

//tabs section container data{

.organization-gruop-member-main-container {
  margin: auto;
  width: 500px;
  height: 100%;
  border: 1px solid $white-color-4;
  border-radius: 10px;

  &:focus {
    border: 1px solid $green-color;
    outline: none;
  }

  .modal-scrollbar {
    height: 510px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 9px;
      background-color: $white-color-2;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $white-color-4;
      border-radius: 20px;
    }
  }
  .modal-groups-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;

    .modal-profile-container {
      display: flex;
      align-items: center;
      overflow: hidden;

      .img-name-flex {
        display: flex;
      }

      img {
        width: 70px;
      }
    }
    .name-para {
      h4 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

.dropdown-organization {
  .header-dropdown {
    img {
      width: 22px;
    }

    border: none;
    font-size: 18px;
    padding: 0;
    font-size: 35px;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-active-bg: none;
    content: none;
    color: $grey-color;

    &:hover {
      border: none;
      outline: none;
    }
    &:active {
      border: none;
      outline: none;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
  .header-dropdown-item {
    background-color: white;
    padding: 5px 15px;
    font-size: 22px;
    &:hover {
      background-color: $green-color;
    }
  }
}

.btn-primary {
  --bs-btn-focus-shadow-rgb: none;
}

//  Modals add members

.staff-organization-modals-container {
  border-radius: 10px !important;
  height: auto;
  padding: 20px 0;

  .modals-inner {
    h3 {
      padding: 15px 0 20px 48px;
    }
  }

  .modals-inputs {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    gap: 20px;

    .inputs {
      margin: auto;
      width: 400px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $grey-color;

        &:focus {
          outline: none;
          border: 1px solid $green-color;
        }
      }
    }
  }
}

.organization-modals-container {
  border-radius: 10px !important;
  width: 500px;
  height: auto;
  padding: 15px;

  .modals-inner {
    h3 {
      padding: 15px 0 5px 35px;
    }
  }

  .modals-inputs {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    gap: 20px;

    .inputs {
      margin: auto;
      width: 400px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $grey-color;

        &:focus {
          outline: none;
          border: 1px solid $green-color;
        }
      }
    }
  }
}

.doc-add-gruop-member-main-container {
  margin: auto;
  width: 400px;
  height: 370px;
  border: 1px solid $white-color-4;
  border-radius: 5px;

  &:focus {
    border: 1px solid $green-color;
    outline: none;
  }

  .modal-scrollbar {
    height: 370px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 9px;
      background-color: $white-color-2;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $white-color-4;
      border-radius: 20px;
    }
  }
  .modal-groups-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;

    .modal-profile-container {
      display: flex;
      align-items: center;
      overflow: hidden;

      .img-name-flex {
        display: flex;
      }

      img {
        width: 70px;
      }
    }
    .name-para {
      h4 {
        font-size: 20px;
        color: $green-color;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

// search

.doctors-search-input {
  display: flex;
  width: 100%;
  margin: 20px 0;
  align-items: center;
  justify-content: center;

  input {
    border-radius: 5px;
    border: 1px solid $white-color-4;
    padding: 8px 10px;
    outline: none;

    width: 85%;
    &:focus {
      border: 1px solid $green-color;
      outline: none;
    }
  }
}

// Details Of Organizations

.organization-profile-main-container {
  background-color: #fbfcfd;
  display: flex;
  border-radius: 10px;
  border: 1px solid $grey-color;
  justify-content: space-between;
  padding: 10px;

  .details-round-images {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
  }
  .img-data {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-border {
      border-right: 1px solid $white-color-4;
      padding: 20px 50px;
    }
    .organiaztion-profile-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  button {
    padding: 2px 35px;
    margin: 5px 10px 0 0;
  }
}

.h4s {
  h4 {
    color: $grey-color;
    margin-bottom: 5px;
  }
}

.organization-profile-members {
  .h4s {
    margin-top: 20px;
  }
}

.organzation-tabs-group-main-container {
  height: 100%;
  padding: 30px;

  .tabs-group-sub-container {
    .tabs-inner {
      border: 1px solid $white-color-3;
      border-radius: 15px;
      height: 100%;
      background-color: white;
      outline: none;
    }
  }
}

.organzation-tab-list-section {
  .tab-list {
    border-bottom: 1px solid $white-color-4;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;

    .tabSections {
      background-color: white;
      cursor: pointer;
      border: 1px solid $white-color-4;
      border-radius: 5px 5px 0 0;
      padding: 10px 20px;
      margin-bottom: -10px;
      &:active {
        background-color: $green-color;
      }

      h4 {
        font-size: 20px;
      }
    }
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    button {
      background-color: $white-color-4;
      color: grey;
      padding: 5px 20px;
      border: none;

      border-radius: 5px;

      font-size: 18px;
    }
  }
}

// organzation main cards :

.organization-card-main {
  width: 210px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  border-radius: 20px;
  box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.056);

  .card-img-data {
    padding: 30px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .img-rounds {
      display: inline-block;
      position: relative;
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: 50%;
    }

    h4 {
      font-size: 22px;
    }
  }
  .buttons {
    display: flex;

    button {
      background-color: white;
      padding: 14px 24px;
      font-size: 12px;
      border: none;
      color: $grey-color;
      transition: all ease-in-out 0.2s;
      &:hover {
        background-color: $white-color-4;
      }
    }

    .btn1 {
      border-top: 1px solid $white-color-4;
      border-right: 1px solid $white-color-4;
      border-radius: 0 0 0 20px;
    }
    .btn2 {
      border-top: 1px solid $white-color-4;
      border-left: 1px solid $white-color-4;
      border-radius: 0 0 20px 0;
    }
  }
}
.dropdown-toggle {
  background-color: transparent;
}
.dropdown-toggle::after {
  background-color: transparent;
  content: none;
}
.transparents {
  background-color: transparent;
  padding: 0;
}

.options-inputs {
  border-radius: 5px;
  padding: 10px;
  color: $grey-color;
  border: 1px solid $grey-color;
  font-size: 20px;
  &:focus {
    outline: none;
    border: 1px solid $green-color;
  }
}

.clinic-select-organization {
  border-radius: 5px;

  padding: 10px;
  width: 680px;
  color: $grey-color;
  border: 1px solid $grey-color;
  font-size: 20px;
  &:focus {
    outline: none;
    border: 1px solid $green-color;
  }
}
