.notfound-main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .notfound-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;

    img {
      width: 500px;
    }

    p {
      font-weight: 600;
      font-size: 22px;
    }
  }

  button {
    background-color: $black-color;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
}
