.settings-main-container {
  width: 100%;
  min-height: calc(100vh - 72.5px);
  padding: 30px;
}

.settings-container {
  h2 {
    font-size: 25px;
    font-weight: bolder;
  }
}

.settings-white-board {
  background-color: white;
  height: 100%;
  border-radius: 20px;
  box-shadow: $shadows;
  padding: 30px;

  h1 {
    font-size: 27px;
    font-weight: bold;
  }
}

.settings-form-section {
  margin: 20px 0;
  margin: auto;
  width: 50%;
  form {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

    .label-input {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-weight: bold;
        margin-top: 30px;
      }

      input {
        padding: 10px;
        width: 680px;
        border-radius: 5px;
        border: 1px solid $grey-color;
        &:focus {
          border: 1px solid $green-color;
          outline: none;
        }
      }
    }
  }
  .settings-form-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    button {
      margin: 16px;
      padding: 0px 40px;
    }
    .solid-button {
      padding: 4px 15px;
    }
  }

  .form-settings-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: inline-block;
      position: relative;
      width: 170px;
      height: 170px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
}
