.main-container-subscription-packages {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 10px;
  text-align: justify;
  width: 350px;
  flex-direction: column;

  .packages {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    .basic-price-details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .para {
      font-size: 12px;
    }

    .price {
      align-items: center;

      h3 {
        font-weight: bolder;
        font-size: 32px;
        color: $green-color;
      }
      span {
        font-size: 20px;
        color: $black-color;
        font-weight: 500 !important;
      }
    }
    button {
      padding: 2px 20px;
      width: 100%;
      font-size: 17px;
    }

    &:hover {
      cursor: pointer;
      background-color: $light-green-color;
    }
  }
}
