// website main colours:

$dark-green-color: #2bcc82;
$green-color: #2cd889;
$light-green-color: #e9fbf3;
$black-color: #35384d;
$grey-color: #a6b1c2;
$white-color-1: #ffffff;
$white-color-2: #eff1f7;
$white-color-3: #e9fbf3;
$white-color-4: #e1e3f4;

// ROBOTO

// Fonts sizes:

$headline-1: 25px bold;
$headline-2: 15px bold;
$headline-3: 14px;
$headline-4: 12px;
$headline-5: 10px;
$menu: 20px;
$button: 16px;

// Shadows

$shadows: 1px 2px 10px 5px rgba(0, 0, 0, 0.056);

//butons

.layout-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.layout-container {
  width: calc(100% - 15%);
}
